.dinos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    gap: 3%;
}

.prevNext {
    display: none;
}

.buttonPrev, .buttonNext {
    //margin-left: 40%;
    margin-top: 5%;
    margin-bottom: 3%;
    font-size: 15px;
    background-color: rgba(#9bdc28, 0.807);
    border: none;
    padding: 0.5%;
    font-weight: bold;
    cursor: pointer;
    border-radius: 30px;
    width: 120px;
    color: rgb(0, 0, 0);
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonPrev:hover, .buttonNext:hover{
    background-color: rgb(48, 48, 48);
    color: white
}
.search{
    display: block;
    left: 30%;
    position: absolute;
    top: 22%;
    border: 3px solid white;
    box-shadow: 1px 1px 2px 1px black;
    box-sizing: border-box;
    font-size: 15px;
    outline: solid #fc0 0;
    transition: all 1s ease-in;
    z-index: 1;
    &:focus{
        border: solid 3px rgb(0, 134, 43);
        outline: solid #9bdc28 2px;
    }
}

.filter{
    margin-top: 4.8%;
    margin-left: 45%;
    height: 22px;
    border: 3px solid white;
    box-shadow: 1px 1px 2px 1px black;
}