
<div>
    <input 
        placeholder="Buscar..." 
        [(ngModel)]="dinoName" 
        type="text" 
        name="dinoName"
        class="search">
</div>

<div>
    <select
        name="dinoPeriod"
        required
        [(ngModel)]="dinoPeriod" size="1"
        class="filter">

        <option value="">Elegir período histórico...</option>
          
        <option
            *ngFor="let period of historicalPeriodEl"
            [value]="period"> {{ period }}</option>
    </select>
</div>


<!-- we listen to (onRemove) and (onDetail) names that I have put in the outputs of the dino.component.ts-->
<!-- with the dino._id I indicate which id I want it to delete and which one I want it to show me -->
<!-- The method created in dino-list.component.ts is responsible for removing the product -->

<div class="dinos">
    <app-dino 
    *ngFor="let dino of dinos | search:dinoName | filter:dinoPeriod | pagination: itemsPage:currentPage"
    [dino]="dino"
    (onRemove)="removeDinoFromList(dino._id)"
    (onDetail)="getDinoDetail(dino._id)"
    >
    </app-dino>
    
</div>

<div class="button">
    <button 
        (click)="prevPage()" 
        [ngClass]="{'prevNext': currentPage <=1}"
        class="buttonPrev"
        >Anterior</button>
    <button 
        (click)="nextPage()"
        [ngClass]="{'prevNext': currentPage * itemsPage >= dinos.length}"
        class="buttonNext"
        >Siguiente</button>
</div>
