.dino {
    &__title {
        margin-top: 50px;
        margin-top: 3.2%;
        color: #9bdc28;
        font-size: 70px;
        font-weight: bold;
        text-shadow: 2px 1px 1px rgb(1, 161, 105), 3px 2px 1px rgb(1, 134, 87), 4px 3px 1px rgb(0, 104, 67);
        text-align: center;
        justify-content: center;
        width: 60%;
        margin-left: 15%;
    }
}

.list {
    display: flex;
    &__img{
        width: 38%;
        object-fit: scale-down; 
    }
    &__list {
        justify-content: row;
        width: 45%;
        height: 50%;
        margin-top: 4.5%;
        margin-left: 3%;
        background-color: rgba(#9bdc28, 0.8);
        border-radius: 15px;
        padding: 15px 20px;
        line-height: 28px;
        border: 2px solid darkgreen;
        box-shadow: inset 10px;
        font-size: 17px;
        &_question{
            font-size: 50px;
            font-weight: bold;
            text-align: center;
            margin-bottom: 5%;
            color: darkgreen;
            text-shadow: 1px 1px 1px rgb(0, 55, 0);
        }
    }
}

.lastQuest {
    justify-content: row;
    font-size: 20px;
    margin-top: 3%;
    margin-left: 28%;
    font-weight: 600;
    text-align: center;
}
.button {
    justify-content: row;
    align-items: center;
    margin-left: 60%;
    margin-top: 2%;
    margin-bottom: 3%;
    font-size: 18px;
    background-color: rgba(#9bdc28, 0.807);
    border: none;
    padding: 0.8%;
    font-weight: bold;
    cursor: pointer;
    border-radius: 30px;
    width: 120px;
    color: rgb(0, 0, 0);
}
.button:hover {
    background-color: rgb(48, 48, 48);
    color: white
}

@media screen and (max-width: 768px) {
    .dino{
        &__title{
            font-size: 50px;

        }
    }
    .list{
        display: block;
        &__img{
            margin-left: 23%;
            width: 50%;
        }
        &__list{
            width: 85%;
        }

    }
    .lastQuest{
        margin-top: 5%;
        margin-left: 1%;
    }
    .button{
        margin-left: 38%;

    }
}

@media screen and (max-width: 372px) {
    .dino{
        &__title{
            font-size: 30px;
        }
    }
    .list{
        &__img{
            width: 60%;
        }
        &__question{
            font-size: 20px;
        }
        &__list {
            width: 78%;
        }
    }
    .button{
        margin-left: 31%;

    }
}

