<div class="dino__title">
    <h1>MY DINOS</h1>
</div>

<div class="list">
    <img src="https://res.cloudinary.com/dpqw97rqh/image/upload/v1677519312/dino_home_y8lma2.png" class="list__img">
    <div class="list__list">
        <p class="list__list_question">¿Sabías que...?</p>
        <p><i class="fa-solid fa-check" ></i> Entre la aparición de los primeros dinosaurios y su extinción pasó más tiempo, en concreto, casi el triple, del que ha pasado entre dicha extinción y nosotros.</p>
        <p><i class="fa-solid fa-check"></i> Las extremidades diminutas, que podemos ver en muchos dinosaurios gigantes, lo son por una buena razón: reducir el peso en la parte delantera del cuerpo.</p>
        <p><i class="fa-solid fa-check"></i> Las extremidades diminutas, que podemos ver en muchos dinosaurios gigantes, lo son por una buena razón: reducir el peso en la parte delantera del cuerpo.</p>
        <p><i class="fa-solid fa-check"></i> La gran mayoría de los dinosaurios conocidos eran herbívoros, pero en cambio se han identificado con certeza muy pocos omnívoros, alrededor de un 2% de las especies conocidas.</p>
        <p><i class="fa-solid fa-check"></i> Los dinosaurios podían haber exhibido colores vivos y patrones en la piel, que tendrían diversas funciones: como reclamo para las hembras, colores de camuflaje, o para intimidar a los depredadores.</p>
        <p><i class="fa-solid fa-check"></i> Los dinosaurios habrían sido capaces de mantener su temperatura interna estable, pero no poseían todos los mecanismos que tienen los animales de sangre caliente para regular su temperatura corporal en condiciones de temperatura extrema.</p>
        <p><i class="fa-solid fa-check"></i> Estudios recientes sugieren que podían tener comportamientos igual de complejos que algunos mamíferos actuales: por ejemplo, se ha afirmado que los tiranosaurios podrían haber sido carnívoros sociales que cazaban en manada, como las orcas o los lobos.</p>
    </div>
</div>
<p class="lastQuest">¿Te atreves a conocer a algunos de estos seres tan fascinantes?</p>
<button (click)="goToList()" class="button">Go!</button>