<div class="dino__title">
    <h1>MY DINOS</h1>
</div>

<div class="dino__img">
    <img src="https://res.cloudinary.com/dpqw97rqh/image/upload/v1677519312/dino_home_y8lma2.png">
</div>

<div class="dino__info">
    <div class="dino__text">
     

<div class="dinoText">
    <div class="dino__question">
        <p>¿Sabías que...?</p>
    </div>
    
        </div>
        <ul class="list">
            <li>Entre la aparición de los primeros dinosaurios y su extinción pasó más tiempo -en concreto, casi el triple- del que ha pasado entre dicha extinción y nosotros.</li>
            <li>Las extremidades diminutas, que podemos ver en muchos dinosaurios gigantes, lo son por una buena razón: reducir el peso en la parte delantera del cuerpo</li>
            <li>Las extremidades diminutas, que podemos ver en muchos dinosaurios gigantes, lo son por una buena razón: reducir el peso en la parte delantera del cuerpo</li>
            <li>La gran mayoría de los dinosaurios conocidos eran herbívoros, pero en cambio se han identificado con certeza muy pocos omnívoros, alrededor de un 2% de las especies conocidas</li>
            <li>Los dinosaurios podían haber exhibido colores vivos y patrones en la piel, que tendrían diversas funciones: como reclamo para las hembras, colores de camuflaje, o para intimidar a los depredadores.</li>
        </ul>
       <p class="lastQuest">¿Te atreves a conocer a algunos de estos seres tan fascinantes?</p>
       <button (click)="goToList()" class="button">Go!</button>
    </div>
</div>


