.dino {
    position: relative;
}

.dino .card {
    position: relative;
    width: 320px;
    height: 450px;
    background: #232323;
    border-radius: 20px;
    overflow: hidden;
    margin-top: 20%;
}

.dino .card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #9bdc28;
    clip-path: circle(150px at 80% 20%);
    transition: 0.5s ease-in-out;
}

.dino .card:hover::before {
    clip-path: circle(300px at 80% -20%);
}

.dino .card::after {
    content: 'Dino';
    position: absolute;
    top: 30%;
    left: -20%;
    font-size: 12em;
    font-weight: 800;
    font-style: italic;
    color: rgba(255, 255, 25, 0.05)
}

.dino .card .imgDino {
    position: absolute;
    top: 48%;
    transform: translateY(-50%);
    z-index: 10000;
    width: 100%;
    height: 220px;
    transition: 0.5s;
    //cursor: pointer;
}

.dino .card:hover .imgDino {
    top: 10%;
    transform: translateY(10%);
    transition: 0.5s ease-in-out;
}

.dino .card .imgDino img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 330px;
}

.dino .card .content {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    text-align: center;
    transform: 1s;
    z-index: 10;
    transition: 0.5s ease-in-out;
}

.dino .card:hover .content {
    height: 150px;
}

.dino .card .content h2 {
    position: relative;
    font-weight: 600;
    color: white;
    margin: 0;
    font-size: 28px;
}

.dino .card .content .otherInfo .nameMeaning, .dino .card .content .otherInfo .type, .dino .card .content button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    transition: 0.5;
    opacity: 0;
    visibility: hidden;
    padding-top: 0;
    padding-bottom: 0;
}

.dino .card:hover .content .otherInfo .nameMeaning{
    opacity: 1;
    visibility: visible;
    transition-delay: 0.4s;
    transition: ease-in-out;
}


.dino .card:hover .content .otherInfo .type{
    opacity: 1;
    visibility: visible;
    transition-delay: 0.6s;
    //transition: ease-in-out;
}

.dino .card .content button{
    display: inline-block;
    opacity: 1;
    visibility: visible;
    transition-delay: 0.8s;
    //transition: ease-in-out;
}

.dino .card .content h3 {
    color: white;
    font-weight: 300;
    font-size: 18px;
    margin-right: 10px;
    transition: 0.8s;
    margin-bottom: 2%;
    margin-top: 2%;
    
}


.dino .card .content button {
    display: inline-block;
    padding: 10px 20px;
    background-color: white;
    border-radius: 4px;
    margin-top: 10px;
    font-weight: 600;
    color: #111;
    opacity: 0;
    transform: translateY(50px);
    transition: 0.5s;
    margin-top: 0;
    font-size: 10px;
    transition-delay: 0.35s;

   
}

.dino .card:hover .content button {
    opacity: 1;
    transform: translateY(0px);
    //transition-delay: 0.75s;
}
